.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  .nav1 {
    display: flex;

    justify-content: space-around;
    align-items: center;
  }
  .data {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  a {
    color: black;
    margin-left: 10px;
  }
  .giga {
    display: flex;
    align-items: center;
  }
  .giga h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: "Caveat", cursive;
    color: rgb(34, 1, 29);
  }
  .giga i {
    padding-left: 10px;
    padding-top: 20px;
    font-size: 20px;
  }
  .search input {
    font-size: 20px;
    padding: 10px 90px;
  }
  .search button {
    font-size: 20px;
    padding: 10px 20px;
  }

  .navbar .data i {
    padding-left: 19px;
    color: rgb(71, 71, 71);
  }
  .nav2 ul {
    display: flex;
    list-style: none;
    padding-left: 20px;
  }
  .nav2 ul li {
    padding-left: 30px;
    font-size: 18px;
  }
  .nav2 ul li i {
    padding-left: 5px;
  }
  .nav2 ul li a {
    color: rgb(56, 55, 55);
    text-decoration: none;
  }
  .nav2 .cata {
    width: 300px;
    height: 900px;
    background-color: #f11515;
  }
}
.container {
  margin-top: 140px;
  .img {
    height: 400px;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
      object-fit: fill;
    }
  }
  .prodt {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .item3 {
    margin-top: 40px;
    margin-bottom: 20px;
    transition: 1s ease-in;
    border: 1px solid black;

    img {
      height: 300px;
      width: 100%;
    }
    .div {
      width: 50px;
      height: 50px;
    }
    p {
      font-weight: 900;
    }
    .item3del {
      color: gray;
    }
    button {
      padding: 0px 140px;
      margin: 10px;
      background-color: rgb(255, 152, 186);
      padding-top: 13px;
      padding-bottom: 14px;
    }
  }
  .item3:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 3px 2px gray;
  }
}
#click {
  display: none;
}
.manu {
  font-size: 20px;
  display: none;
}
@media screen and (max-width: 836px) {
  .manu {
    display: block;
  }
  .container .prodt {
    grid-template-columns: auto auto;
  }
  .nav2 ul {
    flex-direction: column;
    width: 200px;
    position: absolute;
    border: 1px solid black;
    line-height: 2.5;
    background-color: rgb(234, 232, 232);
    border-radius: 5px;
    left: -100%;
    transition: all 0.3s ease-in-out;
  }
  #click:checked ~ ul {
    left: 0;
  }
  .nav1 input {
    position: relative;
    top: 70px;
    font-size: 20px;
  }
  .nav1 button {
    position: relative;
    left: 100%;
    top: 25px;
  }
  .container {
    margin-top: 200px;
  }
}
